<a href="https://colab.research.google.com/github/sompong-spv/Halcon-Codelets/blob/main/learn%20python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
7+6

13

In [4]:
t=1

In [6]:
t = 7

In [9]:
a

NameError: name 'a' is not defined

In [11]:
b = 10

In [14]:
a = 5

In [15]:
a

5

In [17]:
a
b

10

In [22]:
# this is a comment
print (a) # comment 1
print (b) # comment 2

5
10

In [27]:
c = 7
d = 7.0

print(type(c))
print(type(d))

<class 'int'>
<class 'float'>

In [31]:
e = 'hello'
f = "My 'name' is eak"

print(e)
print(f)

hello
My 'name' is eak

In [33]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      5
b          int      10
c          int      7
d          float    7.0
e          str      hello
f          str      My 'name' is eak
t          int      7

In [37]:
%whos 5

No variables match your requested type.

In [41]:
varA, varB = 1, 'test'

print(varA)
print(varB)

1
test

In [44]:
varA = 10.33

print(varA)

10.33

In [58]:
# flosting-point algebra
x = 7
y = 4.3
z = 0

print(y)

a = y + x - 7
b = y + 1.0 * x - 7.0



print(type(x))
print(type(y))
print(type(z))
print(type(a))
print(type(b))

print(a)
print(b)

4.3
<class 'int'>
<class 'float'>
<class 'int'>
<class 'float'>
<class 'float'>
4.300000000000001
4.300000000000001

In [52]:
c = y + 0.5 * x - 7
print (c)

0.7999999999999998

In [66]:
4 \
  + 3

7

In [74]:
a = (3**2)**1/2
b = (3**2)**(1/2)

print(a)
print(b)

4.5
3.0